@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --darkest: #171923;
    --darker: #2d3748;
    --dark: #4a5568;

    --light: #a0aec0;
    --lighter: #e2e8f0;
    --lightest: #f7fafc;

    --white: #ffffff;

    --accent: #d20f39;
    --accent-transparent: #d20f392d;
  }
}

@layer base {
  * {
    @apply scroll-smooth transition-all;
  }

  body {
    @apply bg-white text-darker;
  }
}

h1 {
  @apply text-title;
}

h2 {
  @apply text-section uppercase font-bold;
}

h3 {
  @apply text-heading;
}

h4 {
  @apply text-minor;
}

p {
  @apply text-body tracking-tight;
}

a {
  @apply no-underline;
}

li {
  @apply list-outside list-disc;
}

._experience_summary > div {
  @apply text-body tracking-tight;
}
._project_summary > div {
  @apply text-body tracking-tight;
}
