---

---

<div class="text-base leading-tight">
  DevOps enthusiast with nearly two years of professional experience at Wipro,
  focusing on automation, containerization, and cloud technologies. Experienced
  in working with Docker, AWS, and creating automation solutions using Python.
  Currently deepening expertise in Kubernetes, Azure, and cloud-native tools
  through hands-on projects in a personal homelab. Passionate about exploring
  new technologies and building efficient, scalable solutions.
</div>
