---
import "@/styles/global.css";
// Supports weights 100-900
import "@fontsource-variable/noto-sans";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>rajesh_kumar_das</title>
  </head>
  <body>
    <div class="flex justify-center">
      <div class="max-w-a4">
        <slot />
      </div>
    </div>
  </body>
</html>
