---
import "@/styles/global.css";

// Supports weights 100-900
import "@fontsource-variable/noto-sans";

// Supports weights 100-900
import "@fontsource-variable/hanken-grotesk";

import "@fontsource/source-sans-pro/200.css";
import "@fontsource/source-sans-pro/300.css";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/600.css";
import "@fontsource/source-sans-pro/700.css";
import "@fontsource/source-sans-pro/900.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>rajesh_kumar_das</title>
  </head>
  <body class="bg-blue-200">
    <div class="flex justify-center">
      <slot />
    </div>
  </body>
</html>
